/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}
.main-title {
  font-size: 36px;
  font-weight: 600;
}
section {
  padding: 80px 0;
}

.google-logo {
  width: 35px;
}
.w-45 {
  width: 45%;
}
.w-45 img {
  height: 100%;
}
.logo {
  width: 190px;
}
